{% extends 'live/master.html' %}

{% block title %}
About
{% endblock %}

{% block body %}

<h4 class="text-center mt-3 mb-5">About Fortweet</h4>

<div class="row justify-content-center align-items-center mb-4">
    <div class="col-8 mx-auto text-center my-auto">
        <h6> What is Fortweet ?</h6>
        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. 
            Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, 
            when an unknown printer took a galley of type and scrambled it to make a type specimen book. 
            It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. 
        </p>
    </div>
</div>

<div class="row justify-content-center align-items-center mb-4">
    <div class="col-8 mx-auto text-center my-auto">
        <h6> What is Fortnite ?</h6>
        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. 
            Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, 
            when an unknown printer took a galley of type and scrambled it to make a type specimen book. 
            It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. 
        </p>
    </div>
</div>

<div class="row justify-content-center align-items-center mb-4">
    <div class="col-8 mx-auto text-center my-auto">
        <h6> Fortweet's Purpose</h6>
        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. 
            Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, 
            when an unknown printer took a galley of type and scrambled it to make a type specimen book. 
            It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. 
        </p>
    </div>
</div>

<div class="row justify-content-center align-items-center mb-4">
    <div class="col-8 mx-auto text-center my-auto">
        <h6> Starting a Live Stream</h6>
        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. 
            Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, 
            when an unknown printer took a galley of type and scrambled it to make a type specimen book. 
            It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. 
        </p>
    </div>
</div>

<div class="row justify-content-center align-items-center mb-4">
    <div class="col-8 mx-auto text-center my-auto">
        <h6> Admin Access </h6>
        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. 
            Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, 
            when an unknown printer took a galley of type and scrambled it to make a type specimen book. 
            It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. 
        </p>
    </div>
</div>

<div class="row justify-content-center align-items-center mb-4">
    <div class="col-8 mx-auto text-center my-auto">
        <h6> Project Repository </h6>
        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. 
            Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, 
            when an unknown printer took a galley of type and scrambled it to make a type specimen book. 
            It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. 
        </p>
    </div>
</div>
{% endblock %}