{% extends 'live/master.html' %}

{% block title %}
Statistics
{% endblock %}

{% block body %}

<h4 class="text-center mt-3 mb-5">Statistics</h4>

<div class="row">
    <div class="col-md-6 text-center my-auto">
        <div class="card bg-light mb-3">
            <div class="card-body">
              <h5 class="card-title">All Fortweets</h5>
              <h1>0</h1>
            </div>
        </div>
    </div>

    <div class="col-md-6 text-center my-auto">
        <div class="card bg-light mb-3">
            <div class="card-body">
              <h5 class="card-title">Tweets about Live Events</h5>
              <h1>0</h1>
            </div>
        </div>
    </div>
</div>


<div class="row">

    <div class="col-md-3 text-center my-auto">
        <div class="card bg-light mb-3">
            <div class="card-body">
              <h5 class="card-title">Happy Tweets</h5>
              <h1>0</h1>
            </div>
        </div>
    </div>

    <div class="col-md-3 text-center my-auto">
        <div class="card bg-light mb-3">
            <div class="card-body">
              <h5 class="card-title">Sad Tweets</h5>
              <h1>0</h1>
            </div>
        </div>
    </div>

    <div class="col-md-3 text-center my-auto">
        <div class="card bg-light mb-3">
            <div class="card-body">
              <h5 class="card-title">Angry Tweets</h5>
              <h1>0</h1>
            </div>
        </div>
    </div>

    <div class="col-md-3 text-center my-auto">
        <div class="card bg-light mb-3">
            <div class="card-body">
              <h5 class="card-title">Meh Tweets</h5>
              <h1>0</h1>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-6 text-center my-auto">
        <div class="card bg-light mb-3">
            <div class="card-body">
              <h5 class="card-title">Love Tweets</h5>
              <h1>0</h1>
            </div>
        </div>
    </div>

    <div class="col-md-6 text-center my-auto">
        <div class="card bg-light mb-3">
            <div class="card-body">
              <h5 class="card-title">Hate Tweets</h5>
              <h1>0</h1>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-4 text-center my-auto">
        <div class="card bg-light mb-3">
            <div class="card-body">
              <h5 class="card-title">English Tweets</h5>
              <h1>0</h1>
            </div>
        </div>
    </div>

    <div class="col-md-4 text-center my-auto">
        <div class="card bg-light mb-3">
            <div class="card-body">
              <h5 class="card-title">French Tweets</h5>
              <h1>0</h1>
            </div>
        </div>
    </div>

    <div class="col-md-4 text-center my-auto">
        <div class="card bg-light mb-3">
            <div class="card-body">
              <h5 class="card-title">Other Languages</h5>
              <h1>0</h1>
            </div>
        </div>
    </div>
</div>

{% endblock %}