#wrapper {
    overflow-x: hidden;
}

#sidebar-wrapper {
    min-height: 100vh;
    margin-left: -15rem;
    -webkit-transition: margin .25s ease-out;
    -moz-transition: margin .25s ease-out;
    -o-transition: margin .25s ease-out;
    transition: margin .25s ease-out;
}

#sidebar-wrapper .sidebar-heading {
    padding: 0.875rem 1.25rem;
    font-size: 1.2rem;
}

#sidebar-wrapper .list-group {
    width: 15rem;
}

#page-content-wrapper {
    min-width: 100vw;
}

#wrapper.toggled #sidebar-wrapper {
    margin-left: 0;
}

@media (min-width: 768px) {
    #sidebar-wrapper {
        margin-left: 0;
    }

    #page-content-wrapper {
        min-width: 0;
        width: 100%;
    }

    #wrapper.toggled #sidebar-wrapper {
        margin-left: -15rem;
    }
}


/*******************************************************/
/******************* Fortweet Styles *******************/
/*******************************************************/

#tweets-live-start {
    display: flex;
    align-items: center;
}

.ftweet-text-starttweets {
    font-weight: bold;
}

.ftweet-text-starttweets-inactive {
    color: rgb(255, 55, 55) !important;
}

.ftweet-text-starttweets-active {
    color: rgb(62, 255, 55) !important;
}


.ftweet-text-starttweets:hover {
    font-weight: normal;
}