body,
html {
    background: url("/static/images/background-main.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.live-container {
    background-color: whitesmoke;
    width: 75%;
    padding: 0;
}

.live-content-main {
    margin: auto;
    margin-bottom: 5%;
    padding: 12px;
    padding-bottom: 18px;
}