{% extends 'admin/master.html' %}

{% block title %}
Admins
{% endblock %}

{% block body %}

<h1> Manage Administrators </h1>

{% if admin_remove == True %}
    {% block content %}
    <div class="alert alert-danger alert-dismissible fade show" role="alert">
        Admin has been removed
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
    {% endblock content %}
{% endif %}

<table class="table">
    <thead class="thead-dark">
      <tr>
        <th scope="col">#</th>
        <th scope="col">Email</th>
        <th scope="col">Username</th>
        <th scope="col">Actions</th>
      </tr>
    </thead>
    <tbody>
        {% for admin in admins %}
            <tr>
                <td scope="row">{{ loop.index }}</td>
                <td>{{ admin.email }}</td>
                <td>{{ admin.username }}</td>
                <td>
                    <form action="/admin/remove/{{admin.id}}" method="POST">
                        <button type="submit" class="btn btn-danger">Delete</button>
                    </form>
                </td>
            </tr>
        {% endfor %}
    </tbody>
  </table>
  
  <div class="d-flex flex-row-reverse">
    <div class="p-2">
      <form action="{{ url_for('admin.admin_add_get')}}" method="GET">
        <button type="submit" class="btn btn-primary">Add Admin</button>
      </form>
    </div>
  </div>
{% endblock %}