{% extends 'admin/master.html' %}

{% block title %}
Admins
{% endblock %}

{% block body %}

<!-- Page Title -->
<h4 class="fortweet-title mb-5"> Add Administrator </h4>

{% with errors = get_flashed_messages(category_filter=["error"]) %}
  {% if errors %}
    {% for message in errors %}
      <!-- Messages -->
      <div class="row justify-content-center align-items-center">
        <div class="col-4 mx-auto">
            <!-- Error Message -->
            <div class="alert alert-danger alert-dismissible fade show mb-5" role="alert">
                {{ message }}
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
                </button>
            </div>
        </div>
    </div>
    {% endfor %}
  {% endif %}
{% endwith %}

<div class="row">
    <div class="col-md-4 mx-auto">
        <form action="{{ url_for('admin.admin_add_post')}}" method="POST">
            <div class="form-group">
              <label for="admin-email">Email address</label>
              <input type="email" class="form-control" id="admin-email" name="admin-email" aria-describedby="emailHelp" placeholder="Enter email" required>
            </div>
            <div class="form-group">
                <label for="admin-username">Username</label>
                <input type="text" class="form-control" id="admin-username" name="admin-username" aria-describedby="usernameHelp" placeholder="Enter username" required>
              </div>
            <div class="form-group">
              <label for="admin-password">Password</label>
              <input type="password" class="form-control" id="admin-password" name="admin-password" placeholder="Enter password">
            </div>
            <button type="submit" class="btn btn-dark float-right">Save</button>
          </form>
    </div>
</div>

{% endblock %}